tmpl
tmpl-static*
tmp/
*.core
**.sw*
tmpl.ggo
.deps
m4
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile.in
