tmpl
tmpl-static*
tmp/
*.core
**.sw*
tmpl.ggo
.deps
m4
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile.in
stamp-*
**.o
Makefile
**/Makefile
**/Makefile.in
**.1
*.log
**.gz
